/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b175ff;
  --ifm-color-primary-dark: #a360f9;
  --ifm-color-primary-darker: #954df3;
  --ifm-color-primary-darkest: #7925e8;
  --ifm-color-primary-light: #b68afd;
  --ifm-color-primary-lighter: #bc9efb;
  --ifm-color-primary-lightest: #c6c7f8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b175ff;
  --ifm-color-primary-dark: #a360f9;
  --ifm-color-primary-darker: #954df3;
  --ifm-color-primary-darkest: #7925e8;
  --ifm-color-primary-light: #b68afd;
  --ifm-color-primary-lighter: #bc9efb;
  --ifm-color-primary-lightest: #c6c7f8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}